# Ignore the data folder (where the big stuff lives)
data/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore OS-specific hidden files (like Mac's DS_Store)
.DS_Store
Thumbs.db